<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weight</key>
	<array>
		<array>
			<string>0,89</string>
			<string>1,15</string>
			<string>1,12</string>
			<string>1,46</string>
			<string>1,78</string>
			<string>1,27</string>
			<string>1,36</string>
			<string>1,78</string>
			<string>2,18</string>
			<string>1,46</string>
			<string>1,91</string>
			<string>1,6</string>
			<string>2,1</string>
			<string>2,58</string>
			<string>1,85</string>
			<string>2,42</string>
			<string>2,98</string>
			<string>3,52</string>
			<string>2,08</string>
			<string>2,73</string>
			<string>3,37</string>
			<string>3,99</string>
			<string>2,32</string>
			<string>3,05</string>
			<string>3,77</string>
			<string>4,47</string>
			<string>5,15</string>
			<string>5,82</string>
			<string>3,44</string>
			<string>4,25</string>
			<string>3,71</string>
			<string>4,58</string>
			<string>5,43</string>
			<string>7,1</string>
			<string>8,7</string>
			<string>3,9</string>
			<string>4,81</string>
			<string>5,72</string>
			<string>5,91</string>
			<string>7,73</string>
			<string>4,87</string>
			<string>5,38</string>
			<string>6,39</string>
			<string>7,39</string>
			<string>8,37</string>
			<string>10,29</string>
			<string>5,8</string>
			<string>6,89</string>
			<string>7,96</string>
			<string>9,02</string>
			<string>10,07</string>
			<string>6,78</string>
			<string>7,36</string>
			<string>8,51</string>
			<string>9,65</string>
			<string>11,88</string>
			<string>14,05</string>
			<string>8,33</string>
			<string>9,64</string>
			<string>10,93</string>
			<string>12,2</string>
			<string>13,48</string>
			<string>15,96</string>
			<string>10,06</string>
			<string>10,79</string>
			<string>12,25</string>
			<string>15,1</string>
			<string>17,9</string>
			<string>20,63</string>
			<string>21,97</string>
			<string>23,3</string>
			<string>11,89</string>
			<string>13,5</string>
			<string>14,76</string>
			<string>18,24</string>
			<string>21,67</string>
			<string>26,68</string>
			<string>15,46</string>
			<string>17,3</string>
			<string>19,1</string>
			<string>22,68</string>
			<string>26,2</string>
			<string>29,65</string>
			<string>19,41</string>
			<string>21,45</string>
			<string>25,5</string>
			<string>23,02</string>
			<string>27,39</string>
			<string>33,82</string>
			<string>40,11</string>
			<string>24,67</string>
			<string>27,02</string>
			<string>28,35</string>
			<string>33,97</string>
			<string>38,52</string>
			<string>43,01</string>
			<string>47,44</string>
			<string>30,47</string>
			<string>33,12</string>
			<string>40,96</string>
			<string>48,66</string>
			<string>53,72</string>
			<string>36,97</string>
			<string>39,92</string>
			<string>42,8</string>
			<string>48,65</string>
			<string>54,4</string>
			<string>60,08</string>
			<string>71,26</string>
			<string>74,02</string>
			<string>87,56</string>
			<string>47,4</string>
			<string>53,83</string>
			<string>61,55</string>
			<string>68,86</string>
			<string>76,11</string>
			<string>83,31</string>
			<string>93,97</string>
			<string>104,5</string>
			<string>111,44</string>
			<string>128,51</string>
		</array>
		<array>
			<string>777</string>
		</array>
	</array>
	<key>dimensionsComponent</key>
	<array>
		<array>
			<string>L20×3</string>
			<string>L20×4</string>
			<string>L25×3</string>
			<string>L25×4</string>
			<string>L25×5</string>
			<string>L28×3</string>
			<string>L30×3</string>
			<string>L30×4</string>
			<string>L30×5</string>
			<string>L32×3</string>
			<string>L32×4</string>
			<string>L35×3</string>
			<string>L35×4</string>
			<string>L35×5</string>
			<string>L40×3</string>
			<string>L40×4</string>
			<string>L40×5</string>
			<string>L40×6</string>
			<string>L45×3</string>
			<string>L45×4</string>
			<string>L45×5</string>
			<string>L45×6</string>
			<string>L50×3</string>
			<string>L50×4</string>
			<string>L50×5</string>
			<string>L50×6</string>
			<string>L50×7</string>
			<string>L50×8</string>
			<string>L56×4</string>
			<string>L56×5</string>
			<string>L60×4</string>
			<string>L60×5</string>
			<string>L60×6</string>
			<string>L60×8</string>
			<string>L60×0</string>
			<string>L63×4</string>
			<string>L63×5</string>
			<string>L63×6</string>
			<string>L65×6</string>
			<string>L65×8</string>
			<string>L70×4</string>
			<string>L70×5</string>
			<string>L70×6</string>
			<string>L70×7</string>
			<string>L70×8</string>
			<string>L70×0</string>
			<string>L75×5</string>
			<string>L75×6</string>
			<string>L75×7</string>
			<string>L75×8</string>
			<string>L75×9</string>
			<string>L80×5</string>
			<string>L80×6</string>
			<string>L80×7</string>
			<string>L80×8</string>
			<string>L80×10</string>
			<string>L80×12</string>
			<string>L90×6</string>
			<string>L90×7</string>
			<string>L90×8</string>
			<string>L90×9</string>
			<string>L90×10</string>
			<string>L90×12</string>
			<string>L100×6,5</string>
			<string>L100×7</string>
			<string>L100×8</string>
			<string>L100×10</string>
			<string>L100×12</string>
			<string>L100×14</string>
			<string>L100×15</string>
			<string>L100×16</string>
			<string>L110×7</string>
			<string>L110×8</string>
			<string>L120×8</string>
			<string>L120×10</string>
			<string>L120×12</string>
			<string>L120×15</string>
			<string>L125×8</string>
			<string>L125×9</string>
			<string>L125×10</string>
			<string>L125×12</string>
			<string>L125×14</string>
			<string>L125×16</string>
			<string>L140×9</string>
			<string>L140×10</string>
			<string>L140×12</string>
			<string>L150×10</string>
			<string>L150×12</string>
			<string>L150×15</string>
			<string>L150×18</string>
			<string>L160×10</string>
			<string>L160×11</string>
			<string>L160×12</string>
			<string>L160×14</string>
			<string>L160×16</string>
			<string>L160×18</string>
			<string>L160×20</string>
			<string>L180×11</string>
			<string>L180×12</string>
			<string>L180×15</string>
			<string>L180×18</string>
			<string>L180×20</string>
			<string>L200×12</string>
			<string>L200×13</string>
			<string>L200×14</string>
			<string>L200×16</string>
			<string>L200×18</string>
			<string>L200×20</string>
			<string>L200×24</string>
			<string>L200×25</string>
			<string>L200×30</string>
			<string>L220×14</string>
			<string>L220×16</string>
			<string>L250×16</string>
			<string>L250×18</string>
			<string>L250×20</string>
			<string>L250×22</string>
			<string>L250×25</string>
			<string>L250×28</string>
			<string>L250×30</string>
			<string>L250×35</string>
		</array>
		<array>
			<string>test</string>
		</array>
	</array>
	<key>sectionComponent</key>
	<array>
		<array>
			<string>Уголок неравнополочный по ГОСТ 8510-86*</string>
			<string>Уголок равнополочный по ГОСТ 8509-93*</string>
		</array>
		<array>
			<string>Швеллер с параллельными гранями полок по ГОСТ 8240-89</string>
			<string>Швеллер с уклоном полок по ГОСТ 8240-89</string>
			<string>Швеллер (В) по ГОСТ 5267,1-90</string>
			<string>Швеллер гнутый равнополочный по ГОСТ 8278-83 из сталей С239-С245</string>
			<string>Швеллер гнутый равнополочный по ГОСТ 8278-83 из сталей С255-С275</string>
		</array>
	</array>
	<key>mkComponent</key>
	<array>
		<string>Уголок</string>
		<string>Швеллер</string>
		<string>Тавр</string>
		<string>Двутавр</string>
		<string>Труба</string>
		<string>Метизы</string>
		<string>Лист</string>
		<string>Металлопрокат</string>
		<string>Профлист</string>
		<string>Сетка рабица</string>
		<string>Канат</string>
		<string>Рельсы</string>
		<string>Алюминевый прокат</string>
		<string>Кабель</string>
		<string>Проволока</string>
	</array>
</dict>
</plist>
